Firmware/Basic/Debug/
Hardware/ChibiArmlet.bak
Hardware/ChibiArmlet.dsn
Hardware/ChibiArmlet.kicad_pcb-bak
Hardware/ChibiArmlet/.ChibiArmlet.fsxview
Hardware/ChibiArmlet/ChibiArmlet.fsproj
Hardware/ChibiArmlet/ChibiArmlet.fsx
Hardware/ChibiArmlet/ChibiArmlet.ses
Hardware/Gerber/Berelcom/ChibiArmlet-B_Cu.gbl
Hardware/Gerber/Berelcom/ChibiArmlet-B_Mask.gbs
Hardware/Gerber/Berelcom/ChibiArmlet-Edge_Cuts.gbr
Hardware/Gerber/Berelcom/ChibiArmlet-F_Cu.gtl
Hardware/Gerber/Berelcom/ChibiArmlet-F_Mask.gts
Hardware/Gerber/Berelcom/ChibiArmlet-F_SilkS.gto
Hardware/Gerber/Berelcom/ChibiArmlet.drl
Hardware/Gerber/Berelcom/ChibiArmlet01.zip
Hardware/Gerber/Berelcom/FilesDescription.txt
Hardware/Gerber/Rezonit/ChibiArmlet-B_Cu.gbl
Hardware/Gerber/Rezonit/ChibiArmlet-B_Mask.gbs
Hardware/Gerber/Rezonit/ChibiArmlet-Edge_Cuts.gbr
Hardware/Gerber/Rezonit/ChibiArmlet-F_Cu.gtl
Hardware/Gerber/Rezonit/ChibiArmlet-F_Mask.gts
Hardware/Gerber/Rezonit/ChibiArmlet-F_SilkS.gto
Hardware/Gerber/Rezonit/ChibiArmlet.drl
Hardware/Gerber/Rezonit/ChibiArmlet11Assem.zip
Hardware/Gerber/Rezonit/FilesDescription.txt
Hardware/Gerber/Rezonit/other_formats.XLS
Hardware/SilkS.pdf
Pill/Gerber/pill2-rez.zip
Pill/Pill2.bak
Pill/Pill2.dsn
Pill/Pill2.kicad_pcb-bak
Pill/Pill2/.Pill2.fsxview
Pill/Pill2/Pill2.fsproj
Pill/Pill2/Pill2.fsx
Pill/Pill2/Pill2.ses
